*{
    box-sizing: border-box;
}
img{
    height: 5em;
    width: 5em;
    float:left;
}
header {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: rgb(36,39,48);
	
}

header>a{
	position: absolute;
	left: 0%;
	height: auto;
}

nav>a:hover{
	color: rgb(165, 42, 42);
}
span {
	position: absolute;
	top: 0%;
	left: 0%;
	margin-left: 3vw;
	font-size: 2em;
	line-height: 5rem;
	vertical-align: middle;
}
header > nav > a:last-child {
	margin-right: 3vw;
}

nav > a {
	color: white;
	text-decoration: none;
	margin-right: 3vw;
	line-height: 5em;
	vertical-align: middle;
}
section{
    color: rgb(206, 206, 206);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 35%;
	font-family: 'ZCOOL KuaiLe', cursive;
	text-transform: capitalize;
}
body{
    background-image: url('images/background.jpg');
}
h5 > a{

	color: rgb(235, 137, 137);
	text-decoration: none;

}
#projects{
	text-transform: capitalize;
	position: absolute;
	left: 40%;
	top: 15%;
}
main{
	transform: translate(-50%,-50%);
	position: absolute;
	top: 60%;
	left: 50%;
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
}
div>a>img{
	width: 6cm;
	height: 7cm;
	
}
div{
	display: flex;
	justify-content: space-evenly;
	box-sizing:initial;
	margin-bottom: 0.25cm;
	
}
.box{
	box-sizing:initial;
	background-color: rgba(6, 176, 233,50%);
	color: whitesmoke;
	border-color: black;
	border-radius: 1px;
	border-width: 0.1cm;
	position: absolute;
	left: 50%;
	bottom: 3%;
	border-style: solid;
	height: 4cm;
	width: 4cm;
	text-align: center;
	align-items: center;
	
	transition: 1s;
	display: flex;
}
ul{
	position: absolute;
	top: 80%;
}
.X{
	position: absolute;
	left: 50%;
	bottom: 3%;
	transition: 1s;
	transform: rotateY(360deg);
	
}
.Y{
	transform: rotate(360deg);
}
aside{
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
}
aside>div>img{
	width: 6cm;
	height: 8cm;
}
.info{
	box-sizing:initial;
	width: 70vw;
	height: 50vh;
	background-color: rgba(238, 232, 232,50%);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#content{
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	height: 100%;
}
pre{
	position: absolute;
	top: 15%;
	color: whitesmoke;
}
