*{
    box-sizing: border-box;
}
#menu{
    display: block;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    color: black;
}

nav{
    display: none;
    flex-direction: column;
    color:cornsilk;
    position: fixed;
    top: 1.5em;
    right: 1.50em;
    background-color: black;
    text-align: center;
    width: 2cm;
    height: 6cm;
    
}
nav > a{
    height: 2.5em;

}
nav > a > i{
    margin-top: 1.75em;
    text-align: center;
    margin-left: 0.5em;
    
    
}
nav:last-child{
    padding-left: 1em;
}
.teaser{
    display: block;
    position: absolute;
    left: 50%;
    top: 55em;
}
main > h1{
    
    font-size: 0.70em;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#mobile{
    display: block;
}
#desktop{
    display: none;
}
.show{
    display: flex;
}
