html, body{
    font-family: sans-serif;
    font-size: 3vh;
    color: #303030;
}
.item1 {
    grid-area: header;
}
.item2{
    grid-area: left;
}
.item3{
    grid-area: middle;
}
.item4{
    grid-area: right;
}
.item5{
    grid-area: FooterLeft;
}
.item6{
    grid-area: FooterRight;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'left middle middle right'
    'FooterLeft FooterLeft FooterRight FooterRight';
    grid-gap: 0.25em;
    padding: 0.25em; 
    background-color:#00a000 ;
}
.grid-container > div
{
    background-color: rgba(255,255,255,0.8);
    text-align:center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 4vh;
}
.grid-container > h1
{
    background-color: rgba(255,255,255,0.8);
    text-align:center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 4vh;
    margin: 0%;
}